<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxjl.tasktransferplat.dao.plus.AppSmsMapper">
  <resultMap id="BaseResultMap" type="com.kxjl.tasktransferplat.pojo.AppSms">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="check_code" jdbcType="VARCHAR" property="checkCode" />
    <result column="send_time" jdbcType="BIGINT" property="sendTime" />
    <result column="send_type" jdbcType="TINYINT" property="sendType" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="is_validate" jdbcType="VARCHAR" property="isValidate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mobile, content, check_code, send_time, send_type, ip, is_validate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_sms
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from app_sms
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  
    <select id="selectLatestCode" resultMap="BaseResultMap">
        SELECT
      *
        FROM app_sms WHERE mobile = #{phone}
        ORDER BY send_time DESC
        LIMIT 1
    </select>
  
  <insert id="insert" parameterType="com.kxjl.tasktransferplat.pojo.AppSms">
    insert into app_sms (id, mobile, content, 
      check_code, send_time, send_type, 
      ip, is_validate)
    values (#{id,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{checkCode,jdbcType=VARCHAR}, #{sendTime,jdbcType=BIGINT}, #{sendType,jdbcType=TINYINT}, 
      #{ip,jdbcType=VARCHAR}, #{isValidate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kxjl.tasktransferplat.pojo.AppSms">
    insert into app_sms
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="checkCode != null">
        check_code,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="sendType != null">
        send_type,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="isValidate != null">
        is_validate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="checkCode != null">
        #{checkCode,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=BIGINT},
      </if>
      <if test="sendType != null">
        #{sendType,jdbcType=TINYINT},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="isValidate != null">
        #{isValidate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kxjl.tasktransferplat.pojo.AppSms">
    update app_sms
    <set>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="checkCode != null">
        check_code = #{checkCode,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=BIGINT},
      </if>
      <if test="sendType != null">
        send_type = #{sendType,jdbcType=TINYINT},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="isValidate != null">
        is_validate = #{isValidate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kxjl.tasktransferplat.pojo.AppSms">
    update app_sms
    set mobile = #{mobile,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      check_code = #{checkCode,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=BIGINT},
      send_type = #{sendType,jdbcType=TINYINT},
      ip = #{ip,jdbcType=VARCHAR},
      is_validate = #{isValidate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  


<select id="selectList"
	resultMap="BaseResultMap"
	parameterType="com.kxjl.tasktransferplat.pojo.AppSms">
	select
	<include refid="Base_Column_List" />
	from app_sms c

	where 1=1
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
	
		
		<if test=" mobile !=null and mobile !='' ">
		and c.mobile like concat ('%', #{mobile},'%')
	</if>
		
			
		
		<if test=" content !=null and content !='' ">
		and c.content like concat ('%', #{content},'%')
	</if>
		
			


</select>


<select id="selectPage"
	resultMap="BaseResultMap"
	parameterType="com.kxjl.tasktransferplat.pojo.AppSms">
	select
	<include refid="Base_Column_List" />
	from app_sms c

	where 1=1
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
	
		
		<if test=" mobile !=null and mobile !='' ">
		and c.mobile like concat ('%', #{mobile},'%')
	</if>
		
			
		
		<if test=" content !=null and content !='' ">
		and c.content like concat ('%', #{content},'%')
	</if>
		
			


</select>


<delete id="delete"
	parameterType="com.kxjl.tasktransferplat.pojo.AppSms">
	delete from app_sms

	where id = #{id,jdbcType=VARCHAR}

</delete>

</mapper>