<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kxjl.tasktransferplat.dao.plus.AreaProvinceMapper">
    <select id="lockInstallProvince" resultType="com.kxjl.tasktransferplat.pojo.AreaProvince">
        SELECT DISTINCT province.*
        FROM t_area_province province
            JOIN price_lock_smith_build build
                ON province.provinceCode = build.provinceCode
    </select>
</mapper>