<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kxjl.tasktransferplat.dao.plus.AreaCityMapper">
    <select id="lockInstallCity" resultType="com.kxjl.tasktransferplat.pojo.AreaCity">
        SELECT DISTINCT city.*
        FROM t_area_city city
            JOIN price_lock_smith_build build
                ON city.cityCode = build.cityCode
        WHERE city.provinceId = #{id} AND build.provinceCode = #{provinceCode}
    </select>
</mapper>