<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxjl.video.dao.AreainfoMapper">
  <resultMap id="BaseResultMap" type="com.kxjl.video.pojo.Areainfo">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="CreateTime" jdbcType="VARCHAR" property="createTime" />
    <result column="Uptimestamp" jdbcType="VARCHAR" property="uptimestamp" />
    <result column="DataState" jdbcType="VARCHAR" property="dataState" />
    <result column="UnitId" jdbcType="VARCHAR" property="unitId" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, Name, CreateTime, Uptimestamp, DataState, UnitId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_areainfo
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_areainfo
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kxjl.video.pojo.Areainfo">
    insert into t_areainfo (Id, Name, CreateTime, 
      Uptimestamp, DataState, UnitId
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{uptimestamp,jdbcType=VARCHAR}, #{dataState,jdbcType=VARCHAR}, #{unitId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kxjl.video.pojo.Areainfo">
    insert into t_areainfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="createTime != null">
        CreateTime,
      </if>
      <if test="uptimestamp != null">
        Uptimestamp,
      </if>
      <if test="dataState != null">
        DataState,
      </if>
      <if test="unitId != null">
        UnitId,
      </if>
       <if test="des != null">
        des ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="uptimestamp != null">
        #{uptimestamp,jdbcType=VARCHAR},
      </if>
      <if test="dataState != null">
        #{dataState,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=VARCHAR},
      </if>
       <if test="des != null">
        des = #{des,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kxjl.video.pojo.Areainfo">
    update t_areainfo
    <set>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CreateTime = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="uptimestamp != null">
        Uptimestamp = #{uptimestamp,jdbcType=VARCHAR},
      </if>
      <if test="dataState != null">
        DataState = #{dataState,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        UnitId = #{unitId,jdbcType=VARCHAR},
      </if>
       <if test="des != null">
        des = #{des,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kxjl.video.pojo.Areainfo">
    update t_areainfo
    set Name = #{name,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=VARCHAR},
      Uptimestamp = #{uptimestamp,jdbcType=VARCHAR},
      DataState = #{dataState,jdbcType=VARCHAR},
      UnitId = #{unitId,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  


<select id="selectList"
	resultType="com.kxjl.video.pojo.Areainfo"
	parameterType="com.kxjl.video.pojo.Areainfo">
	select
	c.*, u.name unitName
	from t_areainfo c
	left join t_unitinfo u on c.unitId=u.id

	where 1=1
		<if test=" curUid !=null and curUid !='' ">
				and u.id  in (select u1.id from t_unitinfo_manager  u
left join t_unitinfo u1 on  (u.UnitId=u1.id or u.UnitId=u1.parentUnit)
 where u.managerId=#{curUid}
 )
 
		
	
	</if>
	
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
		<if test=" name !=null and name  !='' ">
		and c.name  like   concat('%',#{name},'%')
		
	</if>
	
		<if test=" unitId !=null and unitId  !='' ">
		and c.unitId  =#{unitId}
		
	</if>


</select>


<select id="selectPage"
	resultMap="BaseResultMap"
	parameterType="com.kxjl.video.pojo.Areainfo">
	select
	<include refid="Base_Column_List" />
	from t_areainfo c

	where 1=1
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
	


</select>


<delete id="delete"
	parameterType="com.kxjl.video.pojo.Areainfo">
	delete from t_areainfo

	where id = #{id,jdbcType=VARCHAR}

</delete>

</mapper>