<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="com.kxjl.tasktransferplat.dao.plus.CustomerComplainMapper">
	<resultMap id="BaseResultMap" type="com.kxjl.tasktransferplat.pojo.CustomerComplain">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="telephone" jdbcType="VARCHAR" property="telephone" />
		<result column="nickname" jdbcType="VARCHAR" property="nickname" />
		<result column="messageContent" jdbcType="VARCHAR" property="messageContent" />
		<result column="orderInfoId" jdbcType="VARCHAR" property="orderInfoId" />
		<result column="backContent" jdbcType="VARCHAR" property="backContent" />
		<result column="doneContent" jdbcType="VARCHAR" property="doneContent" />
		<result column="createTime" jdbcType="VARCHAR" property="createTime" />
		<result column="serviceState" jdbcType="INTEGER" property="serviceState" />
	</resultMap>
	<sql id="Base_Column_List">
		id, telephone, nickname, messageContent, orderInfoId, backContent, doneContent, createTime,
		serviceState
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_customer_complain
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_customer_complain
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.kxjl.tasktransferplat.pojo.CustomerComplain">
		insert into t_customer_complain (id, telephone, nickname,
		messageContent, orderInfoId, backContent,
		doneContent, createTime, serviceState
		)
		values (#{id,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR},
		#{messageContent,jdbcType=VARCHAR}, #{orderInfoId,jdbcType=VARCHAR}, #{backContent,jdbcType=VARCHAR},
		#{doneContent,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{serviceState,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.kxjl.tasktransferplat.pojo.CustomerComplain">
		insert into t_customer_complain
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="telephone != null">
				telephone,
			</if>
			<if test="nickname != null">
				nickname,
			</if>
			<if test="messageContent != null">
				messageContent,
			</if>
			<if test="orderInfoId != null">
				orderInfoId,
			</if>
			<if test="backContent != null">
				backContent,
			</if>
			<if test="doneContent != null">
				doneContent,
			</if>
			<if test="createTime != null">
				createTime,
			</if>
			<if test="serviceState != null">
				serviceState,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				#{telephone,jdbcType=VARCHAR},
			</if>
			<if test="nickname != null">
				#{nickname,jdbcType=VARCHAR},
			</if>
			<if test="messageContent != null">
				#{messageContent,jdbcType=VARCHAR},
			</if>
			<if test="orderInfoId != null">
				#{orderInfoId,jdbcType=VARCHAR},
			</if>
			<if test="backContent != null">
				#{backContent,jdbcType=VARCHAR},
			</if>
			<if test="doneContent != null">
				#{doneContent,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="serviceState != null">
				#{serviceState,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.kxjl.tasktransferplat.pojo.CustomerComplain">
		update t_customer_complain
		<set>
			<if test="telephone != null">
				telephone = #{telephone,jdbcType=VARCHAR},
			</if>
			<if test="nickname != null">
				nickname = #{nickname,jdbcType=VARCHAR},
			</if>
			<if test="messageContent != null">
				messageContent = #{messageContent,jdbcType=VARCHAR},
			</if>
			<if test="orderInfoId != null">
				orderInfoId = #{orderInfoId,jdbcType=VARCHAR},
			</if>
			<if test="backContent != null">
				backContent = #{backContent,jdbcType=VARCHAR},
			</if>
			<if test="doneContent != null">
				doneContent = #{doneContent,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				createTime = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="serviceState != null">
				serviceState = #{serviceState,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.kxjl.tasktransferplat.pojo.CustomerComplain">
		update t_customer_complain
		set telephone = #{telephone,jdbcType=VARCHAR},
		nickname = #{nickname,jdbcType=VARCHAR},
		messageContent = #{messageContent,jdbcType=VARCHAR},
		orderInfoId = #{orderInfoId,jdbcType=VARCHAR},
		backContent = #{backContent,jdbcType=VARCHAR},
		doneContent = #{doneContent,jdbcType=VARCHAR},
		createTime = #{createTime,jdbcType=VARCHAR},
		serviceState = #{serviceState,jdbcType=INTEGER}
		where id = #{id,jdbcType=VARCHAR}
	</update>

<select id="selectList"
	resultMap="BaseResultMap"
	parameterType="com.kxjl.tasktransferplat.pojo.CustomerComplain">
	select
	c.*,o.orderNo
	from t_customer_complain c
	left join t_orderinfo o on c.orderInfoId=o.id
	where 1=1
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
	
		
		<if test=" telephone !=null and telephone !='' ">
		and c.telephone like concat ('%', #{telephone},'%')
	</if>
		
			
		
		<if test=" nickname !=null and nickname !='' ">
		and c.nickname like concat ('%', #{nickname},'%')
	</if>
		
			


</select>


<select id="selectPage"
	resultMap="BaseResultMap"
	parameterType="com.kxjl.tasktransferplat.pojo.CustomerComplain">
	select
	<include refid="Base_Column_List" />
	from t_customer_complain c

	where 1=1
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
	
		
		<if test=" telephone !=null and telephone !='' ">
		and c.telephone like concat ('%', #{telephone},'%')
	</if>
		
			
		
		<if test=" nickname !=null and nickname !='' ">
		and c.nickname like concat ('%', #{nickname},'%')
	</if>
		
			


</select>


<delete id="delete"
	parameterType="com.kxjl.tasktransferplat.pojo.CustomerComplain">
	delete from t_customer_complain

	where id = #{id,jdbcType=VARCHAR}

</delete>

</mapper>