<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxjl.tasktransferplat.dao.plus.GradeMoneyMapper">
  <resultMap id="BaseResultMap" type="com.kxjl.tasktransferplat.pojo.GradeMoney">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="startScore" jdbcType="VARCHAR" property="startScore" />
    <result column="endScore" jdbcType="VARCHAR" property="endScore" />
    <result column="addMoney" jdbcType="DECIMAL" property="addMoney" />
    <result column="CreateTime" jdbcType="VARCHAR" property="createTime" />
    <result column="DataState" jdbcType="INTEGER" property="dataState" />
  </resultMap>


  <sql id="Base_Column_List">
    Id, startScore, endScore, addMoney, createTime, DataState
  </sql>

  <select id="selectList" resultMap="BaseResultMap">
      SELECT * from t_grade_money t
      WHERE t.DataState = 1
        <if test="searchScore != null and searchScore != ''">
          and t.startScore &lt;= #{searchScore} and t.endScore &gt;= #{searchScore}
        </if>
    ORDER BY t.addMoney asc
  </select>
</mapper>
