<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxjl.tasktransferplat.dao.plus.LockProductInfoMapper">
    <resultMap id="BaseResultMap" type="com.kxjl.tasktransferplat.pojo.LockProductInfo">
        <id column="Id" jdbcType="VARCHAR" property="id"/>
        <result column="Name" jdbcType="VARCHAR" property="name"/>
        <result column="ProType" jdbcType="VARCHAR" property="proType"/>
        <result column="LockType" jdbcType="VARCHAR" property="lockType"/>
        <result column="lockEnterpriseID" jdbcType="VARCHAR" property="lockEnterpriseID"/>
        <result column="ProSize" jdbcType="VARCHAR" property="proSize"/>
        <result column="ProDesc" jdbcType="VARCHAR" property="proDesc"/>
        <result column="ProImgs" jdbcType="VARCHAR" property="proImgs"/>
        <result column="CreateTime" jdbcType="VARCHAR" property="createTime"/>
        <result column="UpdateTime" jdbcType="VARCHAR" property="updateTime"/>
        <result column="UserId" jdbcType="VARCHAR" property="userId"/>
        <result column="EnterpriseName" jdbcType="VARCHAR" property="companyName"/>
        <result column="DataState" jdbcType="INTEGER" property="dataState"/>
        <result column="ProInstallDesc" jdbcType="INTEGER" property="proInstallDesc"/>
        <result column="TechPersonName" jdbcType="INTEGER" property="techPersonName"/>
        <result column="TechPersonPhone" jdbcType="INTEGER" property="techPersonPhone"/>
        <result column="ProInstallUrl1" jdbcType="INTEGER" property="proInstallUrl1"/>
        <result column="ProInstallUrl2" jdbcType="INTEGER" property="proInstallUrl2"/>
        <result column="ImeiNeed" jdbcType="INTEGER" property="imeiNeed"/>
    </resultMap>
    <sql id="Base_Column_List">
    Id, Name, ProType, LockType, lockEnterpriseID, ProSize, ProDesc, ProImgs, annexs, CreateTime,
    UpdateTime, UserId,DataState,ProInstallDesc,TechPersonName,TechPersonPhone,ProInstallUrl1,ProInstallUrl2,ImeiNeed
  </sql>
    <sql id="Base_Column_List1">
    c.Id, Name, ProType, LockType, lockEnterpriseID, ProSize, ProDesc, ProImgs, annexs, c.CreateTime,
    UpdateTime, UserId,EnterpriseName,DataState,ProInstallDesc,TechPersonName,TechPersonPhone,ProInstallUrl1,ProInstallUrl2,ImeiNeed
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_lock_product_info
        where Id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_lock_product_info
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.kxjl.tasktransferplat.pojo.LockProductInfo">
    insert into t_lock_product_info (Id, Name, ProType, 
      LockType, lockEnterpriseID, ProSize, 
      ProDesc, ProImgs, CreateTime, 
      UpdateTime, UserId,DataState,ProInstallDesc,TechPersonName,TechPersonPhone,ProInstallUrl1,ProInstallUrl2,ImeiNeed)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{proType,jdbcType=VARCHAR}, 
      #{lockType,jdbcType=VARCHAR}, #{lockEnterpriseID,jdbcType=VARCHAR}, #{proSize,jdbcType=VARCHAR}, 
      #{proDesc,jdbcType=VARCHAR}, #{proImgs,jdbcType=VARCHAR}, #{annexs,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR},
      #{updateTime,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}), #{dataState,jdbcType=VARCHAR}), #{proInstallDesc,jdbcType=VARCHAR}), #{techPersonName,jdbcType=VARCHAR}),
       #{techPersonPhone,jdbcType=VARCHAR}), #{proInstallUrl1,jdbcType=VARCHAR}), #{proInstallUrl2,jdbcType=VARCHAR}), #{imeiNeed,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.kxjl.tasktransferplat.pojo.LockProductInfo">
        insert into t_lock_product_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                Id,
            </if>
            <if test="name != null">
                Name,
            </if>
            <if test="proType != null">
                ProType,
            </if>
            <if test="lockType != null">
                LockType,
            </if>
            <if test="lockEnterpriseID != null">
                lockEnterpriseID,
            </if>
            <if test="proSize != null">
                ProSize,
            </if>
            <if test="proDesc != null">
                ProDesc,
            </if>
            <if test="proImgs != null">
                ProImgs,
            </if>
            <if test="annexs != null">
                annexs,
            </if>
            <if test="createTime != null">
                CreateTime,
            </if>
            <if test="updateTime != null">
                UpdateTime,
            </if>
            <if test="userId != null">
                UserId,
            </if>
            <if test="dataState != null">
                DataState,
            </if>
            <if test="proInstallDesc != null">
                ProInstallDesc,
            </if>
            <if test="techPersonName != null">
                TechPersonName,
            </if>
            <if test="techPersonPhone != null">
                TechPersonPhone,
            </if>
            <if test="proInstallUrl1 != null">
                ProInstallUrl1,
            </if>
            <if test="proInstallUrl2 != null">
                ProInstallUrl2,
            </if>
            <if test="imeiNeed != null">
                ImeiNeed,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="proType != null">
                #{proType,jdbcType=VARCHAR},
            </if>
            <if test="lockType != null">
                #{lockType,jdbcType=VARCHAR},
            </if>
            <if test="lockEnterpriseID != null">
                #{lockEnterpriseID,jdbcType=VARCHAR},
            </if>
            <if test="proSize != null">
                #{proSize,jdbcType=VARCHAR},
            </if>
            <if test="proDesc != null">
                #{proDesc,jdbcType=VARCHAR},
            </if>
            <if test="proImgs != null">
                #{proImgs,jdbcType=VARCHAR},
            </if>
            <if test="annexs != null">
                #{annexs,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="dataState != null">
                #{dataState,jdbcType=VARCHAR},
            </if>
            <if test="proInstallDesc != null">
                #{proInstallDesc,jdbcType=VARCHAR},
            </if>
            <if test="techPersonName != null">
                #{techPersonName,jdbcType=VARCHAR},
            </if>
            <if test="techPersonPhone != null">
                #{techPersonPhone,jdbcType=VARCHAR},
            </if>
            <if test="proInstallUrl1 != null">
                #{proInstallUrl1,jdbcType=VARCHAR},
            </if>
            <if test="proInstallUrl2 != null">
                #{proInstallUrl2,jdbcType=VARCHAR},
            </if>
            <if test="imeiNeed != null">
                #{imeiNeed,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.kxjl.tasktransferplat.pojo.LockProductInfo">
        update t_lock_product_info
        <set>
            <if test="name != null">
                Name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="proType != null">
                ProType = #{proType,jdbcType=VARCHAR},
            </if>
            <if test="lockType != null">
                LockType = #{lockType,jdbcType=VARCHAR},
            </if>
            <if test="lockEnterpriseID != null">
                lockEnterpriseID = #{lockEnterpriseID,jdbcType=VARCHAR},
            </if>
            <if test="proSize != null">
                ProSize = #{proSize,jdbcType=VARCHAR},
            </if>
            <if test="proDesc != null">
                ProDesc = #{proDesc,jdbcType=VARCHAR},
            </if>
            <if test="proImgs != null">
                ProImgs = #{proImgs,jdbcType=VARCHAR},
            </if>
            <if test="annexs != null">
                annexs = #{annexs,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CreateTime = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                UpdateTime = #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                UserId = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="proInstallDesc != null">
                ProInstallDesc = #{proInstallDesc,jdbcType=VARCHAR},
            </if>
            <if test="techPersonName != null">
                TechPersonName = #{techPersonName,jdbcType=VARCHAR},
            </if>
            <if test="techPersonPhone != null">
                TechPersonPhone = #{techPersonPhone,jdbcType=VARCHAR},
            </if>
            <if test="proInstallUrl1 != null">
                ProInstallUrl1 = #{proInstallUrl1,jdbcType=VARCHAR},
            </if>
            <if test="proInstallUrl2 != null">
                ProInstallUrl2 = #{proInstallUrl2,jdbcType=VARCHAR},
            </if>
            <if test="imeiNeed != null">
                ImeiNeed = #{imeiNeed,jdbcType=VARCHAR},
            </if>
        </set>
        where Id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.kxjl.tasktransferplat.pojo.LockProductInfo">
    update t_lock_product_info
    set Name = #{name,jdbcType=VARCHAR},
      ProType = #{proType,jdbcType=VARCHAR},
      LockType = #{lockType,jdbcType=VARCHAR},
      lockEnterpriseID = #{lockEnterpriseID,jdbcType=VARCHAR},
      ProSize = #{proSize,jdbcType=VARCHAR},
      ProDesc = #{proDesc,jdbcType=VARCHAR},
      ProImgs = #{proImgs,jdbcType=VARCHAR},
      annexs = #{annexs,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=VARCHAR},
      UpdateTime = #{updateTime,jdbcType=VARCHAR},
      UserId = #{userId,jdbcType=VARCHAR},
      ProInstallDesc = #{proInstallDesc,jdbcType=VARCHAR},
      TechPersonName = #{techPersonName,jdbcType=VARCHAR},
      TechPersonPhone = #{techPersonPhone,jdbcType=VARCHAR},
      ProInstallUrl1 = #{proInstallUrl1,jdbcType=VARCHAR},
      ProInstallUrl2 = #{proInstallUrl2,jdbcType=VARCHAR}
      ImeiNeed = #{imeiNeed,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>


    <select id="selectList"
            resultMap="BaseResultMap"
            parameterType="com.kxjl.tasktransferplat.pojo.LockProductInfo">

        select
        c.*,e.EnterpriseName, tp.*
        from t_lock_product_info c
        left join t_locksmith_enterprise e on c.lockEnterpriseID=e.id and e.DataState = 1
        left join (
        select c.id,GROUP_CONCAT(file.old_name) filenames , GROUP_CONCAT(file.file_md5) filemd5 from t_lock_product_info
        c
        left join t_lock_product_attach attach on c.id=attach.product_id
        left join sys_file file on attach.file_id=file.file_md5
        group by c.id
        ) tp on c.id=tp.id

        where c.lockEnterpriseID=e.Id and c.DataState != 2


        <if test=" id !=null and id !='' ">
            and c.id = #{id}
        </if>

  		<if test=" dataState !=null and dataState !='' ">
            and c.dataState=#{dataState}
        </if>
        <if test=" name !=null and name !='' ">
            and c.Name like concat ('%', #{name},'%')
        </if>

        <if test=" companyName !=null and companyName !='' ">
            and e.EnterpriseName like concat ('%', #{companyName},'%')
        </if>

        <if test=" lockEnterpriseID !=null and lockEnterpriseID !='' ">
            and c.lockEnterpriseID = #{lockEnterpriseID}
        </if>


        <if test=" proType !=null and proType !='' ">
            and c.ProType like concat ('%', #{proType},'%')
        </if>


    </select>


    <select id="selectPage"
            resultMap="BaseResultMap"
            parameterType="com.kxjl.tasktransferplat.pojo.LockProductInfo">
        select
        <include refid="Base_Column_List"/>
        from t_lock_product_info c

        where 1=1
        <if test=" id !=null and id !='' ">
            and c.id = #{id}
        </if>


        <if test=" name !=null and name !='' ">
            and c.Name like concat ('%', #{name},'%')
        </if>


        <if test=" proType !=null and proType !='' ">
            and c.ProType like concat ('%', #{proType},'%')
        </if>


    </select>

    <update id="delete"
            parameterType="com.kxjl.tasktransferplat.pojo.LockProductInfo">
        UPDATE t_lock_product_info
        SET DataState = 2

        WHERE id = #{id,jdbcType=VARCHAR};

    </update>

    <update id="drop"
            parameterType="com.kxjl.tasktransferplat.pojo.LockProductInfo">
        UPDATE t_lock_product_info
        SET DataState = 0

        WHERE id = #{id,jdbcType=VARCHAR};

    </update>

    <update id="reset"
            parameterType="com.kxjl.tasktransferplat.pojo.LockProductInfo">
        UPDATE t_lock_product_info
        SET DataState = 1

        WHERE id = #{id,jdbcType=VARCHAR};

    </update>
    
     <select id="selectPorductUnFinishOrder" resultType="com.kxjl.tasktransferplat.pojo.Orderinfo" parameterType="java.lang.String">
        SELECT t.*
        FROM t_orderinfo t
        WHERE 1=1 AND t.DataState = 1
        AND t.OrderState &lt;= 499
        and t.productId=#{productId}
    </select>
    <select id="selectList1" resultType="com.kxjl.tasktransferplat.pojo.LockProductInfo">
        select
        <include refid="Base_Column_List"/>
        from t_lock_product_info c

        where 1=1 and c.DataState != 2
        <if test=" proType !=null and proType !='' ">
            and c.proType = #{proType}
        </if>
    </select>


    <update id="deleteByLockCompanyId"
            parameterType="com.kxjl.tasktransferplat.pojo.LockCompany">
        UPDATE t_lock_product_info
        SET DataState = 2

        WHERE lockEnterpriseID = #{id,jdbcType=VARCHAR};

    </update>
    <!--<delete id="delete"-->
            <!--parameterType="com.kxjl.tasktransferplat.pojo.LockProductInfo">-->
	<!--delete from t_lock_product_info-->

	<!--where id = #{id,jdbcType=VARCHAR};-->


	<!--delete from t_lock_product_attach-->

	<!--where product_id = #{id,jdbcType=VARCHAR};-->

<!--</delete>-->

</mapper>