<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxjl.tasktransferplat.dao.plus.LockCompanyMapper">
    <resultMap id="BaseResultMap" type="com.kxjl.tasktransferplat.pojo.LockCompany">
        <id column="Id" jdbcType="BIGINT" property="id"/>
        <result column="EnterpriseName" jdbcType="VARCHAR" property="enterpriseName"/>
        <result column="EnterprisePhone" jdbcType="VARCHAR" property="enterprisePhone"/>
        <result column="EnterpriseAddressId" jdbcType="BIGINT" property="enterpriseAddressId"/>
        <result column="EnterpriseAddressDetail" jdbcType="VARCHAR" property="enterpriseAddressDetail"/>
        <result column="CreateTime" jdbcType="VARCHAR" property="createTime"/>
        <result column="DataState" jdbcType="INTEGER" property="dataState"/>
        <result column="AuditFlag" jdbcType="VARCHAR" property="auditFlag"/>
        <result column="AuditReason" jdbcType="VARCHAR" property="auditReason"/>
        <result column="Province" jdbcType="VARCHAR" property="province"/>
        <result column="City" jdbcType="VARCHAR" property="city"/>
        <result column="District" jdbcType="VARCHAR" property="district"/>
        <result column="AreaCode" jdbcType="VARCHAR" property="areaCode"/>

        <result column="OrderManagerName" jdbcType="VARCHAR" property="orderManagerName"/>
        <result column="MarketManagerName" jdbcType="VARCHAR" property="marketManagerName"/>
        <result column="ContackPersonName" jdbcType="VARCHAR" property="contackPersonName"/>
        <result column="TechPersonName" jdbcType="VARCHAR" property="techPersonName"/>
        <result column="TechPersonPhone" jdbcType="VARCHAR" property="techPersonPhone"/>
        <result column="CustomerManagerName" jdbcType="VARCHAR" property="customerManagerName"/>
        <result column="CustomerManagerPhone" jdbcType="VARCHAR" property="customerManagerPhone"/>
        <result column="AgreenStartTime" jdbcType="VARCHAR" property="agreenStartTime"/>
        <result column="AgreenEndTime" jdbcType="VARCHAR" property="agreenEndTime"/>
        <result column="TaxBear" jdbcType="VARCHAR" property="taxBear"/>
        <result column="ReceiptType" jdbcType="VARCHAR" property="receiptType"/>
        <result column="ReceiptTitle" jdbcType="VARCHAR" property="receiptTitle"/>
        <result column="ReceiptEnable" jdbcType="VARCHAR" property="receiptEnable"/>
        <result column="TaxPoint" jdbcType="VARCHAR" property="taxPoint"/>

    </resultMap>
    <sql id="Base_Column_List">
        Id, EnterpriseName, EnterprisePhone, EnterpriseAddressId, EnterpriseAddressDetail, CreateTime,
        DataState, AuditFlag, AuditReason, Province, City, District, AreaCode,OrderManagerName,MarketManagerName,
        ContackPersonName,TechPersonName,TechPersonPhone,CustomerManagerName,CustomerManagerPhone,AgreenStartTime,
        AgreenEndTime,TaxBear,ReceiptType,ReceiptTitle,ReceiptEnable,TaxPoint
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_locksmith_enterprise
        where Id = #{id,jdbcType=BIGINT} and DataState != 2
    </select>
    <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
        update t_locksmith_enterprise set DataState = 2  where Id = #{id,jdbcType=BIGINT};
    </update>
    <insert id="insert" parameterType="com.kxjl.tasktransferplat.pojo.LockCompany">
        INSERT INTO t_locksmith_enterprise (Id, EnterpriseName, EnterprisePhone,
                               EnterpriseAddressId, EnterpriseAddressDetail,
                               DataState, AuditFlag,
                               AuditReason, Province, City,
                               District, AreaCode)
        VALUES (#{id,jdbcType=BIGINT}, #{enterpriseName,jdbcType=VARCHAR}, #{enterprisePhone,jdbcType=VARCHAR},
                                       #{enterpriseAddressId,jdbcType=BIGINT}, #{enterpriseAddressDetail,jdbcType=VARCHAR},
                                       #{dataState,jdbcType=INTEGER},
                                       #{auditFlag,jdbcType=VARCHAR},
                                       #{auditReason,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR},
                                       #{city,jdbcType=VARCHAR},
                #{district,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.kxjl.tasktransferplat.pojo.LockCompany">
        insert into t_locksmith_enterprise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                Id,
            </if>
            <if test="enterpriseName != null">
                EnterpriseName,
            </if>
            <if test="enterprisePhone != null">
                EnterprisePhone,
            </if>
            <if test="enterpriseAddressId != null">
                EnterpriseAddressId,
            </if>
            <if test="enterpriseAddressDetail != null">
                EnterpriseAddressDetail,
            </if>
            <if test="dataState != null">
                DataState,
            </if>
            <if test="auditFlag != null">
                AuditFlag,
            </if>
            <if test="auditReason != null">
                AuditReason,
            </if>
            <if test="province != null">
                Province,
            </if>
            <if test="city != null">
                City,
            </if>
            <if test="district != null">
                District,
            </if>
            <if test="areaCode != null">
                AreaCode,
            </if>
            <if test="orderManagerName != null">
                OrderManagerName,
            </if>
            <if test="marketManagerName != null">
                MarketManagerName,
            </if>
            <if test="contackPersonName != null">
                ContackPersonName,
            </if>
            <if test="techPersonName != null">
                TechPersonName,
            </if>
            <if test="techPersonPhone != null">
                TechPersonPhone,
            </if>
            <if test="customerManagerName != null">
                CustomerManagerName,
            </if>
            <if test="customerManagerPhone != null">
                CustomerManagerPhone,
            </if>
            <if test="agreenStartTime != null and agreenStartTime !='' ">
                AgreenStartTime,
            </if>
            <if test="agreenEndTime != null and agreenEndTime !='' ">
                AgreenEndTime,
            </if>
            <if test="taxBear != null">
                TaxBear,
            </if>
            <if test="receiptType != null">
                ReceiptType,
            </if>
            <if test="receiptTitle != null">
                ReceiptTitle,
            </if>
            <if test="receiptEnable != null">
                ReceiptEnable,
            </if>
            <if test="taxPoint != null">
                TaxPoint,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="enterpriseName != null">
                #{enterpriseName,jdbcType=VARCHAR},
            </if>
            <if test="enterprisePhone != null">
                #{enterprisePhone,jdbcType=VARCHAR},
            </if>
            <if test="enterpriseAddressId != null">
                #{enterpriseAddressId,jdbcType=BIGINT},
            </if>
            <if test="enterpriseAddressDetail != null">
                #{enterpriseAddressDetail,jdbcType=VARCHAR},
            </if>
            <if test="dataState != null">
                #{dataState,jdbcType=INTEGER},
            </if>
            <if test="auditFlag != null">
                #{auditFlag,jdbcType=VARCHAR},
            </if>
            <if test="auditReason != null">
                #{auditReason,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="district != null">
                #{district,jdbcType=VARCHAR},
            </if>
            <if test="areaCode != null">
                #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="orderManagerName != null">
                #{orderManagerName,jdbcType=VARCHAR},
            </if>
            <if test="marketManagerName != null">
                #{marketManagerName,jdbcType=VARCHAR},
            </if>
            <if test="contackPersonName != null">
                #{contackPersonName,jdbcType=VARCHAR},
            </if>
            <if test="techPersonName != null">
                #{techPersonName,jdbcType=VARCHAR},
            </if>
            <if test="techPersonPhone != null">
                #{techPersonPhone,jdbcType=VARCHAR},
            </if>
            <if test="customerManagerName != null">
                #{customerManagerName,jdbcType=VARCHAR},
            </if>
            <if test="customerManagerPhone != null">
                #{customerManagerPhone,jdbcType=VARCHAR},
            </if>
            <if test="agreenStartTime != null  and agreenStartTime !='' ">
                #{agreenStartTime,jdbcType=VARCHAR},
            </if>
            <if test="agreenEndTime != null  and agreenEndTime !='' ">
                #{agreenEndTime,jdbcType=VARCHAR},
            </if>
            <if test="taxBear != null">
                #{taxBear,jdbcType=VARCHAR},
            </if>
            <if test="receiptType != null">
                #{receiptType,jdbcType=VARCHAR},
            </if>
            <if test="receiptTitle != null">
                #{receiptTitle,jdbcType=VARCHAR},
            </if>
            <if test="receiptEnable != null">
                #{receiptEnable,jdbcType=VARCHAR},
            </if>
            <if test="taxPoint != null">
                #{taxPoint,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.kxjl.tasktransferplat.pojo.LockCompany">
        update t_locksmith_enterprise
        <set>
            <if test="enterpriseName != null">
                EnterpriseName = #{enterpriseName,jdbcType=VARCHAR},
            </if>
            <if test="enterprisePhone != null">
                EnterprisePhone = #{enterprisePhone,jdbcType=VARCHAR},
            </if>
            <if test="enterpriseAddressId != null">
                EnterpriseAddressId = #{enterpriseAddressId,jdbcType=BIGINT},
            </if>
            <if test="enterpriseAddressDetail != null">
                EnterpriseAddressDetail = #{enterpriseAddressDetail,jdbcType=VARCHAR},
            </if>
            <if test="dataState != null">
                DataState = #{dataState,jdbcType=INTEGER},
            </if>
            <if test="auditFlag != null">
                AuditFlag = #{auditFlag,jdbcType=VARCHAR},
            </if>
            <if test="auditReason != null">
                AuditReason = #{auditReason,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                Province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                City = #{city,jdbcType=VARCHAR},
            </if>
            <if test="district != null">
                District = #{district,jdbcType=VARCHAR},
            </if>
            <if test="areaCode != null">
                AreaCode = #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="orderManagerName != null">
                OrderManagerName = #{orderManagerName,jdbcType=VARCHAR},
            </if>
            <if test="marketManagerName != null">
                MarketManagerName = #{marketManagerName,jdbcType=VARCHAR},
            </if>
            <if test="contackPersonName != null">
                ContackPersonName = #{contackPersonName,jdbcType=VARCHAR},
            </if>
            <if test="techPersonName != null">
                TechPersonName = #{techPersonName,jdbcType=VARCHAR},
            </if>
            <if test="techPersonPhone != null">
                TechPersonPhone = #{techPersonPhone,jdbcType=VARCHAR},
            </if>
            <if test="customerManagerName != null">
                CustomerManagerName = #{customerManagerName,jdbcType=VARCHAR},
            </if>
            <if test="customerManagerPhone != null">
                CustomerManagerPhone = #{customerManagerPhone,jdbcType=VARCHAR},
            </if>
            <if test="agreenStartTime != null and agreenStartTime !='' ">
                AgreenStartTime = #{agreenStartTime,jdbcType=VARCHAR},
            </if>
            <if test="agreenEndTime != null and agreenEndTime !='' ">
                AgreenEndTime = #{agreenEndTime,jdbcType=VARCHAR},
            </if>
            <if test="taxBear != null">
                TaxBear = #{taxBear,jdbcType=VARCHAR},
            </if>
            <if test="receiptType != null">
                ReceiptType = #{receiptType,jdbcType=VARCHAR},
            </if>
            <if test="receiptTitle != null">
                ReceiptTitle = #{receiptTitle,jdbcType=VARCHAR},
            </if>
            <if test="receiptEnable != null">
                ReceiptEnable = #{receiptEnable,jdbcType=VARCHAR},
            </if>
            <if test="taxPoint != null">
                TaxPoint = #{taxPoint,jdbcType=VARCHAR},
            </if>
        </set>
        where Id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.kxjl.tasktransferplat.pojo.LockCompany">
        UPDATE t_locksmith_enterprise
        SET EnterpriseName          = #{enterpriseName,jdbcType=VARCHAR},
            EnterprisePhone         = #{enterprisePhone,jdbcType=VARCHAR},
            EnterpriseAddressId     = #{enterpriseAddressId,jdbcType=BIGINT},
            EnterpriseAddressDetail = #{enterpriseAddressDetail,jdbcType=VARCHAR},
            DataState            = #{dataState,jdbcType=INTEGER},
            AuditFlag            = #{auditFlag,jdbcType=VARCHAR},
            AuditReason          = #{auditReason,jdbcType=VARCHAR},
            Province             = #{province,jdbcType=VARCHAR},
            City                 = #{city,jdbcType=VARCHAR},
            District             = #{district,jdbcType=VARCHAR},
            AreaCode             = #{areaCode,jdbcType=VARCHAR}
        WHERE Id = #{id,jdbcType=BIGINT}
    </update>


    <select id="selectList"
            resultMap="BaseResultMap"
            parameterType="com.kxjl.tasktransferplat.pojo.LockCompany">
        select
        c.*,
        (select Price from price_lock_company p where p.lockCompanyId=c.Id and p.parentType=1 and p.serverType=0)buildPrice,
        (select Price from price_lock_company p where p.lockCompanyId=c.Id and p.parentType=1 and p.serverType=1)fixPrice,
        (select Price from price_lock_company p where p.lockCompanyId=c.Id and p.parentType=1 and p.serverType=2)openLockPrice,
        (select Price from price_lock_company p where p.lockCompanyId=c.Id and p.parentType=1 and p.serverType=4)measutePrice,
        (select Price from price_lock_company p where p.lockCompanyId=c.Id and p.parentType=1 and p.serverType=5)catBuildPrice,
        (select Price from price_lock_company p where p.lockCompanyId=c.Id and p.parentType=1 and p.serverType=6)changeLockPrice,
        (select Price from price_lock_company p where p.lockCompanyId=c.Id and p.parentType=1 and p.serverType=7)engineeringInstallationPrice,
        (select Price from price_lock_company p where p.lockCompanyId=c.Id and p.parentType=1 and p.serverType=8)engineeringMaintenancePrice,
        (select Price from price_lock_company p where p.lockCompanyId=c.Id and p.parentType=1 and p.serverType=9)otherFee,

        (select Price from price_lock_company p where p.lockCompanyId=c.Id and p.parentType=2 and p.serverType=1)hurryInVainPrice,
        (select Price from price_lock_company p where p.lockCompanyId=c.Id and p.parentType=2 and p.serverType=2)longDistancePrice,
        (select Price from price_lock_company p where p.lockCompanyId=c.Id and p.parentType=2 and p.serverType=3)refitPrice,
        (select Price from price_lock_company p where p.lockCompanyId=c.Id and p.parentType=2 and p.serverType=4)specialDoorPrice,
        (select Price from price_lock_company p where p.lockCompanyId=c.Id and p.parentType=2 and p.serverType=5)urgentPrice,
        (select Price from price_lock_company p where p.lockCompanyId=c.Id and p.parentType=2 and p.serverType=6)falseLockPrice

        from t_locksmith_enterprise c

        where 1=1 and c.DataState != 2
        <if test=" dataState !=null and dataState !='' ">
            and c.dataState=#{dataState}
        </if>
        <if test=" id !=null and id !='' ">
            and c.id = #{id}
        </if>
        <if test=" auditFlag !=null and auditFlag !='' ">
            and c.auditFlag = #{auditFlag}
        </if>
        <if test=" enterprisePhone !=null and enterprisePhone !='' ">
            and c.enterprisePhone like concat ('%', #{enterprisePhone},'%')
        </if>

        <if test=" enterpriseName !=null and enterpriseName !='' ">
          and c.enterpriseName like  concat ('%', #{enterpriseName},'%')
        </if>
    </select>


    <select id="selectPage"
            resultMap="BaseResultMap"
            parameterType="com.kxjl.tasktransferplat.pojo.LockCompany">
        select
        <include refid="Base_Column_List"/>
        from t_locksmith_enterprise c

        where 1=1 and c.DataState != 2
        <if test=" id !=null and id !='' ">
            and c.id = #{id}
        </if>
        <if test=" auditFlag !=null and auditFlag !='' ">
            and c.auditFlag = #{auditFlag}
        </if>
        <if test=" enterprisePhone !=null and enterprisePhone !='' ">
            and c.enterprisePhone like concat ('%', #{enterprisePhone},'%')
        </if>
        <if test=" enterpriseName !=null and enterpriseName !='' ">
            and c.enterpriseName like  concat ('%', #{enterpriseName},'%')
        </if>

    </select>


    <select id="selectUnAuditCompanyList"
            resultMap="BaseResultMap"
            parameterType="com.kxjl.tasktransferplat.pojo.LockCompany">
        select
        <include refid="Base_Column_List"/>
        from t_locksmith_enterprise c

        where 1=1 and auditFlag in (1,0) and AND DataState != 2
        <if test=" id !=null and id !='' ">
            and c.id = #{id}
        </if>
        <if test=" enterprisePhone !=null and enterprisePhone !='' ">
            and c.enterprisePhone like concat ('%', #{enterprisePhone},'%')
        </if>
        <if test=" enterpriseName !=null and enterpriseName !='' ">
            and c.enterpriseName like  concat ('%', #{enterpriseName},'%')
        </if>

    </select>

    <select id="allCompanyList" resultType="com.kxjl.tasktransferplat.pojo.LockCompany">
        SELECT * FROM t_locksmith_enterprise WHERE auditFlag = 1 AND DataState != 2
    </select>

    <select id="selectLockCompanyByName" resultType="com.kxjl.tasktransferplat.pojo.LockCompany">
        SELECT * FROM t_locksmith_enterprise WHERE EnterpriseName = #{enterpriseName} AND DataState != 2
    </select>

    <select id="selectLockCompanyByPhone" resultType="com.kxjl.tasktransferplat.pojo.LockCompany">
        SELECT * FROM t_locksmith_enterprise WHERE EnterprisePhone = #{enterprisePhone} limit 1
    </select>

    <update id="delete"
            parameterType="com.kxjl.tasktransferplat.pojo.LockCompany">
          update t_locksmith_enterprise set DataState = 2  where Id = #{id,jdbcType=BIGINT};

    </update>

    <update id="drop"
            parameterType="com.kxjl.tasktransferplat.pojo.LockCompany">
          update t_locksmith_enterprise set DataState = 0  where Id = #{id,jdbcType=BIGINT};

    </update>

    <update id="reset"
            parameterType="com.kxjl.tasktransferplat.pojo.LockCompany">
          update t_locksmith_enterprise set DataState = 1  where Id = #{id,jdbcType=BIGINT};

    </update>

</mapper>