<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kxjl.tasktransferplat.dao.plus.LockOrderCountMapper">

    <select id="selectLockOrderBadRatio" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT
            '${createTime}' as date,t.Id,t.`Name`,t4.part,t2.count, CONCAT(ROUND(t4.part/t2.count*100, 0),'') as persent
        FROM
            t_userinfo t
        LEFT JOIN (SELECT t1.LockerId,count(t1.OrderNo) as count from t_orderinfo t1 where t1.OrderState >= 501 AND DATE_FORMAT(t1.CreateTime,'%Y-%m') = '${createTime}' GROUP BY t1.LockerId ) t2 ON t.Id = t2.LockerId
        LEFT JOIN (SELECT t3.LockerId,count(t3.OrderNo) as part from t_orderinfo t3 where t3.OrderState >= 501 AND t3.ServiceScore >=60 AND DATE_FORMAT(t3.CreateTime,'%Y-%m') = '${createTime}' GROUP BY t3.LockerId) t4 ON t.Id = t4.LockerId
    </select>

    <select id="selectLockMouthStatisticsList" resultType="com.kxjl.tasktransferplat.pojo.LockMStatistics"
            parameterType="com.kxjl.tasktransferplat.pojo.LockCMStistics">

        select temp.Id,temp.Name,temp.totalCount,

        sum(
        temp.JanP+temp.FebP+temp.MarP+temp.AprP+temp.MayP+temp.JunP+temp.JulP+temp.AugP+temp.SeptP+temp.OctP+temp.NovP+temp.DecP
        ) as incom,
        temp.JanP,temp.FebP,temp.MarP,temp.AprP,temp.MayP,temp.JunP,temp.JulP,temp.AugP,temp.SeptP,temp.OctP,temp.NovP,temp.DecP,
        temp.Jan,temp.Feb,temp.Mar,temp.Apr,temp.May,temp.Jun,temp.Jul,temp.Aug,temp.Sept,temp.Oct,temp.Nov,temp.Dec

        from(

        select u.Id, u.Name,COUNT(o.Id) as totalCount,

        sum(case when date_format(o.CreateTime,'%m') = '01' then 1 else 0 end) 'Jan',
        sum(case when date_format(o.CreateTime,'%m') = '02' then 1 else 0 end) 'Feb',
        sum(case when date_format(o.CreateTime,'%m') = '03' then 1 else 0 end) 'Mar',
        sum(case when date_format(o.CreateTime,'%m') = '04' then 1 else 0 end) 'Apr',
        sum(case when date_format(o.CreateTime,'%m') = '05' then 1 else 0 end) 'May',
        sum(case when date_format(o.CreateTime,'%m') = '06' then 1 else 0 end) 'Jun',
        sum(case when date_format(o.CreateTime,'%m') = '07' then 1 else 0 end) 'Jul',
        sum(case when date_format(o.CreateTime,'%m') = '08' then 1 else 0 end) 'Aug',
        sum(case when date_format(o.CreateTime,'%m') = '09' then 1 else 0 end) 'Sept',
        sum(case when date_format(o.CreateTime,'%m') = '10' then 1 else 0 end) 'Oct',
        sum(case when date_format(o.CreateTime,'%m') = '11' then 1 else 0 end) 'Nov',
        sum(case when date_format(o.CreateTime,'%m') = '12' then 1 else 0 end) 'Dec',

        sum(case when date_format(o.CreateTime,'%m') = '01' then (case when d.DepositStatus = '3' then d.DepositMoney else 0
        end) else 0 end) 'JanP',
        sum(case when date_format(o.CreateTime,'%m') = '02' then (case when d.DepositStatus = '3' then d.DepositMoney else 0
        end) else 0 end) 'FebP',
        sum(case when date_format(o.CreateTime,'%m') = '03' then (case when d.DepositStatus = '3' then d.DepositMoney else 0
        end) else 0 end) 'MarP',
        sum(case when date_format(o.CreateTime,'%m') = '04' then (case when d.DepositStatus = '3' then d.DepositMoney else 0
        end) else 0 end) 'AprP',
        sum(case when date_format(o.CreateTime,'%m') = '05' then (case when d.DepositStatus = '3' then d.DepositMoney else 0
        end) else 0 end) 'MayP',
        sum(case when date_format(o.CreateTime,'%m') = '06' then (case when d.DepositStatus = '3' then d.DepositMoney else 0
        end) else 0 end) 'JunP',
        sum(case when date_format(o.CreateTime,'%m') = '07' then (case when d.DepositStatus = '3' then d.DepositMoney else 0
        end) else 0 end) 'JulP',
        sum(case when date_format(o.CreateTime,'%m') = '08' then (case when d.DepositStatus = '3' then d.DepositMoney else 0
        end) else 0 end) 'AugP',
        sum(case when date_format(o.CreateTime,'%m') = '09' then (case when d.DepositStatus = '3' then d.DepositMoney else 0
        end) else 0 end) 'SeptP',
        sum(case when date_format(o.CreateTime,'%m') = '10' then (case when d.DepositStatus = '3' then d.DepositMoney else 0
        end) else 0 end) 'OctP',
        sum(case when date_format(o.CreateTime,'%m') = '11' then (case when d.DepositStatus = '3' then d.DepositMoney else 0
        end) else 0 end) 'NovP',
        sum(case when date_format(o.CreateTime,'%m') = '12' then (case when d.DepositStatus = '3' then d.DepositMoney else 0
        end) else 0 end) 'DecP'

        from t_orderinfo o

        left join t_locksmith_enterprise t on t.Id = o.SellerId
        left join t_user_deposit d on d.OrderInfoId = o.Id
        left join t_userinfo u on o.LockerId = u.Id

        where 1=1 and  <![CDATA[(o.orderState >= 501 AND o.orderState < 599)]]> and o.DataState = 1

        <if test=" id!=null and id!='' ">
            and t.Id= #{id,jdbcType=VARCHAR}
        </if>
        <if test=" creatTime!=null and creatTime!='' ">
            and date_format( o.CreateTime,'%Y') =#{creatTime}
        </if>

        group by u.Id


        ) as temp group by temp.Id

    </select>
</mapper>


