<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kxjl.tasktransferplat.dao.plus.OrderinfoSearchMapper">

   <sql id="columns">
       id, orderState, createTime, paymentType, serverType, lockNum, appointmentTime, custName, custPhone, custAddress, lockerId, lockerName, lockerPhone, receiveTime, doneTime, accountTime, sellerId, sellerName, sellerInnerId, dataState
   </sql>
</mapper>
