<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxjl.tasktransferplat.dao.plus.OrderinfoAfterServiceMapper">
  <resultMap id="BaseResultMap" type="com.kxjl.tasktransferplat.pojo.OrderinfoAfterService">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="OrderId" jdbcType="VARCHAR" property="orderId" />
    <result column="Password" jdbcType="VARCHAR" property="password" />
    <result column="CreateTime" jdbcType="VARCHAR" property="createTime" />
    <result column="UpdateTime" jdbcType="VARCHAR" property="updateTime" />
    <result column="DataState" jdbcType="INTEGER" property="dataState" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="serviceState" jdbcType="INTEGER" property="serviceState" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, OrderId, Password, CreateTime, UpdateTime, DataState, description, telephone, 
    nickname, address, serviceState
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_orderinfo_after_service
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_orderinfo_after_service
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kxjl.tasktransferplat.pojo.OrderinfoAfterService">
    insert into t_orderinfo_after_service (Id, OrderId, Password, 
      CreateTime, UpdateTime, DataState, 
      description, telephone, nickname, 
      address, serviceState)
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{dataState,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{serviceState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kxjl.tasktransferplat.pojo.OrderinfoAfterService">
    insert into t_orderinfo_after_service
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="orderId != null">
        OrderId,
      </if>
      <if test="password != null">
        Password,
      </if>
      <if test="createTime != null">
        CreateTime,
      </if>
      <if test="updateTime != null">
        UpdateTime,
      </if>
      <if test="dataState != null">
        DataState,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="serviceState != null">
        serviceState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="dataState != null">
        #{dataState,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="serviceState != null">
        #{serviceState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kxjl.tasktransferplat.pojo.OrderinfoAfterService">
    update t_orderinfo_after_service
    <set>
      <if test="orderId != null">
        OrderId = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        Password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CreateTime = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UpdateTime = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="dataState != null">
        DataState = #{dataState,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="serviceState != null">
        serviceState = #{serviceState,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kxjl.tasktransferplat.pojo.OrderinfoAfterService">
    update t_orderinfo_after_service
    set OrderId = #{orderId,jdbcType=VARCHAR},
      Password = #{password,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=VARCHAR},
      UpdateTime = #{updateTime,jdbcType=VARCHAR},
      DataState = #{dataState,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      serviceState = #{serviceState,jdbcType=INTEGER}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  


<select id="selectList"
	resultMap="BaseResultMap"
	parameterType="com.kxjl.tasktransferplat.pojo.OrderinfoAfterService">
	select
	<include refid="Base_Column_List" />
	from t_orderinfo_after_service c

	where 1=1
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
	
		
		<if test=" orderId !=null and orderId !='' ">
		and c.OrderId like concat ('%', #{orderId},'%')
	</if>
		
			
		
		<if test=" password !=null and password !='' ">
		and c.Password like concat ('%', #{password},'%')
	</if>
		
			
		
		<if test=" createTime !=null and createTime !='' ">
		and c.CreateTime like concat ('%', #{createTime},'%')
	</if>
		
			
		
		<if test=" telephone !=null and telephone !='' ">
		and c.telephone like concat ('%', #{telephone},'%')
	</if>
		
			
		
		<if test=" nickname !=null and nickname !='' ">
		and c.nickname like concat ('%', #{nickname},'%')
	</if>
		
			
		
		<if test=" serviceState !=null and serviceState !='' ">
		and c.serviceState like concat ('%', #{serviceState},'%')
	</if>

    <if test=" startTime !=null and startTime !='' ">
        and c.CreateTime &gt;=  #{startTime}
    </if>

    <if test=" endTime !=null and endTime !='' ">
        and c.CreateTime &lt;= #{endTime}
    </if>
			


</select>


<select id="selectPage"
	resultMap="BaseResultMap"
	parameterType="com.kxjl.tasktransferplat.pojo.OrderinfoAfterService">
	select
	<include refid="Base_Column_List" />
	from t_orderinfo_after_service c

	where 1=1
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
	
		
		<if test=" orderId !=null and orderId !='' ">
		and c.OrderId like concat ('%', #{orderId},'%')
	</if>
		
			
		
		<if test=" password !=null and password !='' ">
		and c.Password like concat ('%', #{password},'%')
	</if>
		
			
		
		<if test=" createTime !=null and createTime !='' ">
		and c.CreateTime like concat ('%', #{createTime},'%')
	</if>
		
			
		
		<if test=" telephone !=null and telephone !='' ">
		and c.telephone like concat ('%', #{telephone},'%')
	</if>
		
			
		
		<if test=" nickname !=null and nickname !='' ">
		and c.nickname like concat ('%', #{nickname},'%')
	</if>
		
			
		
		<if test=" serviceState !=null and serviceState !='' ">
		and c.serviceState like concat ('%', #{serviceState},'%')
	</if>
		
			


</select>


<delete id="delete"
	parameterType="com.kxjl.tasktransferplat.pojo.OrderinfoAfterService">
	delete from t_orderinfo_after_service

	where id = #{id,jdbcType=VARCHAR}

</delete>

</mapper>