<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kxjl.tasktransferplat.dao.plus.OrderinfoAttachMoneyDetailMapper">

   <sql id="columns">
       id, orderinfoId, reasonType, reasonDes, changeValueSeller, changeValueLocker, operateUserId, operateTime, lockerTotalPrice, sellerTotalPrice, auditId
   </sql>
   
   

	   <select id="selectOrderMoneyDetailList"
            resultType="com.kxjl.tasktransferplat.pojo.OrderinfoAttachMoneyDetail"
            parameterType="com.kxjl.tasktransferplat.pojo.OrderinfoAttachMoneyDetail">
            
            select * from t_orderinfo_attach_money_detail c where 1=1 
              <if test=' orderinfoId !=null and orderinfoId !="" '>
        and c.orderinfoId =#{orderinfoId}
        </if>
        
        
        order by c.operateTime desc
            </select>
            
            
            <delete id="deleteOrderDetail" parameterType="com.kxjl.tasktransferplat.pojo.OrderinfoAttachMoneyDetail" >
            delete from t_orderinfo_attach_money_detail where orderinfoId=#{orderinfoId}
            </delete>
            
           <select id="GetOrderTotalPrice"
            resultType="com.kxjl.tasktransferplat.pojo.OrderinfoAttachMoneyDetail"
            parameterType="com.kxjl.tasktransferplat.pojo.OrderinfoAttachMoneyDetail">
            
            select sum(changeValueSeller) changeValueSeller,sum(changeValueLocker) changeValueLocker  from t_orderinfo_attach_money_detail c where 1=1 
            
        and c.orderinfoId =#{orderinfoId}
        group by orderinfoId
            </select> 
           
            
</mapper>
