<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxjl.video.dao.UnitinfoManagerMapper">
  <resultMap id="BaseResultMap" type="com.kxjl.video.pojo.UnitinfoManager">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="UnitId" jdbcType="VARCHAR" property="unitId" />
    <result column="ManagerId" jdbcType="VARCHAR" property="managerId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, UnitId, ManagerId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_unitinfo_manager
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_unitinfo_manager
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kxjl.video.pojo.UnitinfoManager">
    insert into t_unitinfo_manager (id, UnitId, ManagerId
      )
    values (#{id,jdbcType=VARCHAR}, #{unitId,jdbcType=VARCHAR}, #{managerId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kxjl.video.pojo.UnitinfoManager">
    insert into t_unitinfo_manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="unitId != null">
        UnitId,
      </if>
      <if test="managerId != null">
        ManagerId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null">
        #{managerId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kxjl.video.pojo.UnitinfoManager">
    update t_unitinfo_manager
    <set>
      <if test="unitId != null">
        UnitId = #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null">
        ManagerId = #{managerId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kxjl.video.pojo.UnitinfoManager">
    update t_unitinfo_manager
    set UnitId = #{unitId,jdbcType=VARCHAR},
      ManagerId = #{managerId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
<delete id='deleteUnitManager' 	parameterType="com.kxjl.video.pojo.UnitinfoManager">
 delete from  t_unitinfo_manager where UnitId=#{id}
</delete>

<select id="selectList"
	resultType="com.kxjl.video.pojo.UnitinfoManager"
	parameterType="com.kxjl.video.pojo.UnitinfoManager">
	select
	c.*,manager.NICKNAME name
	from t_unitinfo_manager c
     left join manager on c.ManagerId=manager.id
	where 1=1
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
	<if test=" name !=null and name !='' ">
		and manager.name  like   concat('%',#{name},'%')  
	</if>
	<if test=" unitId !=null and unitId !='' ">
		and c.UnitId= #{unitId}
	</if>
	


</select>


<select id="selectPage"
	resultMap="BaseResultMap"
	parameterType="com.kxjl.video.pojo.UnitinfoManager">
	select
	<include refid="Base_Column_List" />
	from t_unitinfo_manager c

	where 1=1
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
	


</select>


<delete id="delete"
	parameterType="com.kxjl.video.pojo.UnitinfoManager">
	delete from t_unitinfo_manager

	where id = #{id,jdbcType=VARCHAR}

</delete>

</mapper>