<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kxjl.tasktransferplat.dao.plus.UserinfoAddMapper">

    <sql id="columns">
        id, varphone, bankId, bankCardId, bankUserName, bankUserIdCard
    </sql>
    <insert id="insertIfNotExist">
        INSERT INTO t_userinfo_add
        (<include refid="columns"/>)
        VALUES (#{id}, #{varphone}, #{bankId}, #{bankCardId}, #{bankUserName}, NULL)
        ON DUPLICATE KEY UPDATE
        varphone = #{varphone},
        bankId = #{bankId},
        bankCardId = #{bankCardId},
        bankUserName = #{bankUserName};
    </insert>
</mapper>
