<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxjl.tasktransferplat.dao.plus.UserOpinionMapper">
  <resultMap id="BaseResultMap" type="com.kxjl.tasktransferplat.pojo.UserOpinion">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="UserId" jdbcType="INTEGER" property="userId" />
    <result column="feedbackTime" jdbcType="VARCHAR" property="feedbackTime" />
    <result column="Content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <insert id="insert" parameterType="com.kxjl.tasktransferplat.pojo.UserOpinion">
    insert into t_user_opinion (id, UserId, feedbackTime,
      Content)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{feedbackTime,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR})
  </insert>

    <sql id="Base_Column_List">
        id, UserId, feedbackTime,
      Content
    </sql>
  <insert id="insertSelective" parameterType="com.kxjl.tasktransferplat.pojo.UserOpinion">
    insert into t_user_opinion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        UserId,
      </if>
      <if test="feedbackTime != null">
        feedbackTime,
      </if>
      <if test="content != null">
        Content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="feedbackTime != null">
        #{feedbackTime,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>



    <select id="selectList"
	resultMap="BaseResultMap"
	parameterType="com.kxjl.tasktransferplat.pojo.UserOpinion">
    select t.*, tu.Phone,tu.Name userName from t_user_opinion t
    left join t_userinfo tu on t.userId=tu.id

	where 1=1
	<if test=" id !=null and id !='' ">
		and tu.id = #{id}
	</if>

        <if test=" companyId !=null and companyId !='' ">
            and tu.companyId = #{companyId}
        </if>
		<if test=" id !=null and id !='' ">
		and c.id like concat ('%', #{id},'%')
	    </if>
        <if test=" phone !=null and phone !='' ">
            and tu.Phone like concat ('%', #{phone},'%')
        </if>
        <if test=" userName !=null and userName !='' ">
            and tu.Name like concat ('%', #{userName},'%')
        </if>
		
		<if test=" userId !=null and userId !='' ">
		and c.UserId like concat ('%', #{userId},'%')
	</if>
		
			
   order by t.feedbackTime

</select>


    <select id="selectCustormerList" resultMap="BaseResultMap" parameterType="com.kxjl.tasktransferplat.pojo.UserOpinion">
      select t1.*, t2.Phone,t2.Name AS userName FROM t_user_opinion t1
        left join t_customerinfo t2 on t1.customerId = t2.id
      WHERE
        t1.uType = '1'
        <if test=" userName !=null and userName !='' ">
            and t2.Name like concat ('%', #{userName},'%')
        </if>
        <if test=" phone !=null and phone !='' ">
            and t2.phone like concat ('%', #{phone},'%')
        </if>
    </select>

<select id="selectPage"
	resultMap="BaseResultMap"
	parameterType="com.kxjl.tasktransferplat.pojo.UserOpinion">
	select
	<include refid="Base_Column_List" />
	from t_user_opinion c

	where 1=1
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
	
		
		<if test=" id !=null and id !='' ">
		and c.id like concat ('%', #{id},'%')
	</if>
		
			
		
		<if test=" userId !=null and userId !='' ">
		and c.UserId like concat ('%', #{userId},'%')
	</if>
		
			


</select>


<delete id="delete"
	parameterType="com.kxjl.tasktransferplat.pojo.UserOpinion">
	delete from t_user_opinion

	where id = #{id,jdbcType=VARCHAR}

</delete>

</mapper>