<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxjl.video.dao.VideoalarmTalkinfoMapper">
  <resultMap id="BaseResultMap" type="com.kxjl.video.pojo.VideoalarmTalkinfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="alarmId" jdbcType="INTEGER" property="alarmId" />
    <result column="talkType" jdbcType="VARCHAR" property="talkType" />
    <result column="ctime" jdbcType="VARCHAR" property="ctime" />
    <result column="msgType" jdbcType="VARCHAR" property="msgType" />
    <result column="msgContent" jdbcType="VARCHAR" property="msgContent" />
    <result column="fileUrl" jdbcType="VARCHAR" property="fileUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, alarmId, talkType, ctime, msgType, msgContent, fileUrl
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_videoalarm_talkinfo
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_videoalarm_talkinfo
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kxjl.video.pojo.VideoalarmTalkinfo">
    insert into t_videoalarm_talkinfo (id, alarmId, talkType, 
      ctime, msgType, msgContent, 
      fileUrl)
    values (#{id,jdbcType=VARCHAR}, #{alarmId,jdbcType=INTEGER}, #{talkType,jdbcType=VARCHAR}, 
      #{ctime,jdbcType=VARCHAR}, #{msgType,jdbcType=VARCHAR}, #{msgContent,jdbcType=VARCHAR}, 
      #{fileUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kxjl.video.pojo.VideoalarmTalkinfo">
    insert into t_videoalarm_talkinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="alarmId != null">
        alarmId,
      </if>
      <if test="talkType != null">
        talkType,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="msgType != null">
        msgType,
      </if>
      <if test="msgContent != null">
        msgContent,
      </if>
      <if test="fileUrl != null">
        fileUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="alarmId != null">
        #{alarmId,jdbcType=INTEGER},
      </if>
      <if test="talkType != null">
        #{talkType,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null">
        #{msgType,jdbcType=VARCHAR},
      </if>
      <if test="msgContent != null">
        #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null">
        #{fileUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kxjl.video.pojo.VideoalarmTalkinfo">
    update t_videoalarm_talkinfo
    <set>
      <if test="alarmId != null">
        alarmId = #{alarmId,jdbcType=INTEGER},
      </if>
      <if test="talkType != null">
        talkType = #{talkType,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null">
        msgType = #{msgType,jdbcType=VARCHAR},
      </if>
      <if test="msgContent != null">
        msgContent = #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null">
        fileUrl = #{fileUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kxjl.video.pojo.VideoalarmTalkinfo">
    update t_videoalarm_talkinfo
    set alarmId = #{alarmId,jdbcType=INTEGER},
      talkType = #{talkType,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=VARCHAR},
      msgType = #{msgType,jdbcType=VARCHAR},
      msgContent = #{msgContent,jdbcType=VARCHAR},
      fileUrl = #{fileUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  


<select id="selectList"
	resultMap="BaseResultMap"
	parameterType="com.kxjl.video.pojo.VideoalarmTalkinfo">
	select
	<include refid="Base_Column_List" />
	from t_videoalarm_talkinfo c

	where 1=1
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
	<if test=" alarmId !=null  ">
		and c.alarmId = #{alarmId}
	</if>
	<if test=" mintime !=null and mintime !='' ">
		<![CDATA[ and c.ctime >=  #{mintime} ]]>
	</if>
	<if test=" maxtime !=null and maxtime !='' ">
		<![CDATA[ and c.ctime <  #{maxtime} ]]>
	</if>
	
	
	
	order by c.ctime desc


</select>


<select id="selectPage"
	resultMap="BaseResultMap"
	parameterType="com.kxjl.video.pojo.VideoalarmTalkinfo">
	select
	<include refid="Base_Column_List" />
	from t_videoalarm_talkinfo c

	where 1=1
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
	


</select>


<delete id="delete"
	parameterType="com.kxjl.video.pojo.VideoalarmTalkinfo">
	delete from t_videoalarm_talkinfo

	where id = #{id,jdbcType=VARCHAR}

</delete>

</mapper>