<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxjl.video.dao.VideoalarmInfoMapper">
  <resultMap id="BaseResultMap" type="com.kxjl.video.pojo.VideoalarmInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="onlineseats_id" jdbcType="VARCHAR" property="onlineseats_id" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="idNumber" jdbcType="VARCHAR" property="idNumber" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="wechat_id" jdbcType="VARCHAR" property="wechat_id" />
    <result column="wechat_OpenId" jdbcType="VARCHAR" property="wechat_OpenId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="occurrence_time" jdbcType="VARCHAR" property="occurrence_time" />
    <result column="occurrence_address" jdbcType="VARCHAR" property="occurrence_address" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="alarm_time" jdbcType="VARCHAR" property="alarm_time" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="picture_url" jdbcType="VARCHAR" property="picture_url" />
    <result column="video_url" jdbcType="VARCHAR" property="video_url" />
    <result column="audio_url" jdbcType="VARCHAR" property="audio_url" />
    <result column="case_type" jdbcType="VARCHAR" property="case_type" />
    <result column="case_level" jdbcType="VARCHAR" property="case_level" />
     <result column="hasNewInfo" jdbcType="VARCHAR" property="hasNewInfo" />
    
    
  </resultMap>
  <sql id="Base_Column_List">
    id, type, onlineseats_id, userName, idNumber, area, latitude, longitude, address, 
    wechat_id, wechat_OpenId, phone, occurrence_time, occurrence_address, description, 
    alarm_time, status, picture_url, video_url, audio_url, case_type, case_level,hasNewInfo
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from videoalarm_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from videoalarm_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kxjl.video.pojo.VideoalarmInfo">
    insert into videoalarm_info (id, type, onlineseats_id, 
      userName, idNumber, area, 
      latitude, longitude, address, 
      wechat_id, wechat_OpenId, phone, 
      occurrence_time, occurrence_address, description, 
      alarm_time, status, picture_url, 
      video_url, audio_url, case_type, 
      case_level)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{onlineseats_id,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{idNumber,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{wechat_id,jdbcType=VARCHAR}, #{wechat_OpenId,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{occurrence_time,jdbcType=VARCHAR}, #{occurrence_address,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{alarm_time,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{picture_url,jdbcType=VARCHAR}, 
      #{video_url,jdbcType=VARCHAR}, #{audio_url,jdbcType=VARCHAR}, #{case_type,jdbcType=VARCHAR}, 
      #{case_level,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kxjl.video.pojo.VideoalarmInfo">
    insert into videoalarm_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="onlineseats_id != null">
        onlineseats_id,
      </if>
      <if test="userName != null">
        userName,
      </if>
      <if test="idNumber != null">
        idNumber,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="wechat_id != null">
        wechat_id,
      </if>
      <if test="wechat_OpenId != null">
        wechat_OpenId,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="occurrence_time != null">
        occurrence_time,
      </if>
      <if test="occurrence_address != null">
        occurrence_address,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="alarm_time != null">
        alarm_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="picture_url != null">
        picture_url,
      </if>
      <if test="video_url != null">
        video_url,
      </if>
      <if test="audio_url != null">
        audio_url,
      </if>
      <if test="case_type != null">
        case_type,
      </if>
      <if test="case_level != null">
        case_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="onlineseats_id != null">
        #{onlineseats_id,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="wechat_id != null">
        #{wechat_id,jdbcType=VARCHAR},
      </if>
      <if test="wechat_OpenId != null">
        #{wechat_OpenId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="occurrence_time != null">
        #{occurrence_time,jdbcType=VARCHAR},
      </if>
      <if test="occurrence_address != null">
        #{occurrence_address,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="alarm_time != null">
        #{alarm_time,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="picture_url != null">
        #{picture_url,jdbcType=VARCHAR},
      </if>
      <if test="video_url != null">
        #{video_url,jdbcType=VARCHAR},
      </if>
      <if test="audio_url != null">
        #{audio_url,jdbcType=VARCHAR},
      </if>
      <if test="case_type != null">
        #{case_type,jdbcType=VARCHAR},
      </if>
      <if test="case_level != null">
        #{case_level,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kxjl.video.pojo.VideoalarmInfo">
    update videoalarm_info
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="onlineseats_id != null">
        onlineseats_id = #{onlineseats_id,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        userName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        idNumber = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="wechat_id != null">
        wechat_id = #{wechat_id,jdbcType=VARCHAR},
      </if>
      <if test="wechat_OpenId != null">
        wechat_OpenId = #{wechat_OpenId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="occurrence_time != null">
        occurrence_time = #{occurrence_time,jdbcType=VARCHAR},
      </if>
      <if test="occurrence_address != null">
        occurrence_address = #{occurrence_address,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="alarm_time != null">
        alarm_time = #{alarm_time,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="picture_url != null">
        picture_url = #{picture_url,jdbcType=VARCHAR},
      </if>
      <if test="video_url != null">
        video_url = #{video_url,jdbcType=VARCHAR},
      </if>
      <if test="audio_url != null">
        audio_url = #{audio_url,jdbcType=VARCHAR},
      </if>
      <if test="case_type != null">
        case_type = #{case_type,jdbcType=VARCHAR},
      </if>
      <if test="case_level != null">
        case_level = #{case_level,jdbcType=VARCHAR},
      </if>
      
         <if test="hasNewInfo != null">
        hasNewInfo = #{hasNewInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kxjl.video.pojo.VideoalarmInfo">
    update videoalarm_info
    set type = #{type,jdbcType=INTEGER},
      onlineseats_id = #{onlineseats_id,jdbcType=VARCHAR},
      userName = #{userName,jdbcType=VARCHAR},
      idNumber = #{idNumber,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      wechat_id = #{wechat_id,jdbcType=VARCHAR},
      wechat_OpenId = #{wechat_OpenId,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      occurrence_time = #{occurrence_time,jdbcType=VARCHAR},
      occurrence_address = #{occurrence_address,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      alarm_time = #{alarm_time,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      picture_url = #{picture_url,jdbcType=VARCHAR},
      video_url = #{video_url,jdbcType=VARCHAR},
      audio_url = #{audio_url,jdbcType=VARCHAR},
      case_type = #{case_type,jdbcType=VARCHAR},
      case_level = #{case_level,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  


<select id="selectList"
	resultType="com.kxjl.video.pojo.VideoalarmInfo"
	parameterType="com.kxjl.video.pojo.VideoalarmInfo">
select
	c.*, uinfo.name  onlineseats_unitname, ainfo.name  onlineseats_areaname ,person.name  onlineseats_name,person.IdNo onlineseats_no
,tdict.dict_name case_typename,tdict2.dict_name case_levelname
	from videoalarm_info c
left join t_receivepoliceinfo person on c.onlineseats_id= person.id

left join t_seatinfo sinfo on sinfo.id= person.SeatId
left join t_areainfo ainfo on ainfo.id= sinfo.AreaId

left join t_unitinfo uinfo on uinfo.id= ainfo.UnitId

left join sys_dict_info tdict2 on tdict2.dict_value= c.case_level and tdict2.type=2
left join sys_dict_info tdict on tdict.dict_value= c.case_type and tdict.type=1
	where 1=1
	
	
	<if test=" curUid !=null and curUid !='' ">
		and uinfo.id  in (select UnitId from t_unitinfo_manager where managerId=#{curUid})
	</if>
	
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
	<if test=" onlineseats_id !=null and onlineseats_id !='' ">
		and c.onlineseats_id = #{onlineseats_id}
	</if>
	

	
		<if test=" onlineseats_unitid !=null and onlineseats_unitid  !='' ">
		and uinfo.id  =#{onlineseats_unitid}
		
	</if>
		<if test=" onlineseats_areaid !=null and onlineseats_areaid  !='' ">
		and ainfo.id = =#{onlineseats_areaid}
		
	</if>
		<if test=" onlineseats_id !=null and onlineseats_id  !='' ">
		and c.onlineseats_id    =#{onlineseats_id}
		
	</if>
		<if test=" case_type !=null and case_type  !='' ">
		and c.case_type = #{case_type}
		
	</if>
		<if test=" idNumber !=null and idNumber  !='' ">
		and c.idNumber like   concat('%',#{idNumber},'%')  
		
	</if>
	
	
	
		<if test=" startDate !=null and startDate  !='' ">
			<![CDATA[ and c.occurrence_time >=  #{startDate} ]]>
	</if>
	
		<if test=" endDate !=null and endDate  !='' ">
			<![CDATA[ and c.occurrence_time <  #{endDate} ]]>
	</if>
	
	
order by c.type asc,c.status asc,c.occurrence_time desc


</select>


<select id="selectPage"
	resultMap="BaseResultMap"
	parameterType="com.kxjl.video.pojo.VideoalarmInfo">
	select
	<include refid="Base_Column_List" />
	from videoalarm_info c

	where 1=1
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
	


</select>


<delete id="delete"
	parameterType="com.kxjl.video.pojo.VideoalarmInfo">
	delete from videoalarm_info

	where id = #{id,jdbcType=VARCHAR}

</delete>

</mapper>