<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztgm.tasktransferplat.dao.normal.TProjectMapper">
  <resultMap id="BaseResultMap" type="com.ztgm.tasktransferplat.pojo.TProject">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="ProjectName" jdbcType="VARCHAR" property="projectName" />
    <result column="AddressId" jdbcType="INTEGER" property="addressId" />
    <result column="AddressDetail" jdbcType="VARCHAR" property="addressDetail" />
    <result column="CreateTime" jdbcType="VARCHAR" property="createTime" />
    <result column="CompanyId" jdbcType="INTEGER" property="companyId" />
    <result column="CreateUser" jdbcType="VARCHAR" property="createUser" />
    <result column="Principal" jdbcType="VARCHAR" property="principal" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, ProjectName, AddressId, AddressDetail, CreateTime, CompanyId, CreateUser, Principal
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_project
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_project
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ztgm.tasktransferplat.pojo.TProject">
    insert into t_project (Id, ProjectName, AddressId, 
      AddressDetail, CreateTime, CompanyId, 
      CreateUser, Principal)
    values (#{id,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, #{addressId,jdbcType=INTEGER}, 
      #{addressDetail,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{companyId,jdbcType=INTEGER}, 
      #{createUser,jdbcType=VARCHAR}, #{principal,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ztgm.tasktransferplat.pojo.TProject">
    insert into t_project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="projectName != null">
        ProjectName,
      </if>
      <if test="addressId != null">
        AddressId,
      </if>
      <if test="addressDetail != null">
        AddressDetail,
      </if>
      <if test="createTime != null">
        CreateTime,
      </if>
      <if test="companyId != null">
        CompanyId,
      </if>
      <if test="createUser != null">
        CreateUser,
      </if>
      <if test="principal != null">
        Principal,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null">
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="addressDetail != null">
        #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="principal != null">
        #{principal,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztgm.tasktransferplat.pojo.TProject">
    update t_project
    <set>
      <if test="projectName != null">
        ProjectName = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null">
        AddressId = #{addressId,jdbcType=INTEGER},
      </if>
      <if test="addressDetail != null">
        AddressDetail = #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CreateTime = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        CompanyId = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        CreateUser = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="principal != null">
        Principal = #{principal,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztgm.tasktransferplat.pojo.TProject">
    update t_project
    set ProjectName = #{projectName,jdbcType=VARCHAR},
      AddressId = #{addressId,jdbcType=INTEGER},
      AddressDetail = #{addressDetail,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=VARCHAR},
      CompanyId = #{companyId,jdbcType=INTEGER},
      CreateUser = #{createUser,jdbcType=VARCHAR},
      Principal = #{principal,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  


<select id="selectList"
	resultMap="BaseResultMap"
	parameterType="com.ztgm.tasktransferplat.pojo.TProject">
	select
	<include refid="Base_Column_List" />
	from t_project c

	where 1=1
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
	
		
		<if test=" projectName !=null and projectName !='' ">
		and c.ProjectName like concat ('%', #{projectName},'%')
	</if>
		
			
		
		<if test=" addressId !=null and addressId !='' ">
		and c.AddressId like concat ('%', #{addressId},'%')
	</if>
		
			


</select>



<delete id="delete"
	parameterType="com.ztgm.tasktransferplat.pojo.TProject">
	delete from t_project

	where id = #{id,jdbcType=VARCHAR}

</delete>

</mapper>
