<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxjl.video.dao.VideoalarmInfoMapper">
  <resultMap id="BaseResultMap" type="com.kxjl.video.pojo.VideoalarmInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="onlineseats_id" jdbcType="INTEGER" property="onlineseatsId" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="idNumber" jdbcType="VARCHAR" property="idnumber" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="wechat_id" jdbcType="VARCHAR" property="wechatId" />
    <result column="wechat_OpenId" jdbcType="VARCHAR" property="wechatOpenid" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="occurrence_time" jdbcType="VARCHAR" property="occurrenceTime" />
    <result column="occurrence_address" jdbcType="VARCHAR" property="occurrenceAddress" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="alarm_time" jdbcType="VARCHAR" property="alarmTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="audio_url" jdbcType="VARCHAR" property="audioUrl" />
    <result column="case_type" jdbcType="VARCHAR" property="caseType" />
    <result column="case_level" jdbcType="VARCHAR" property="caseLevel" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, onlineseats_id, userName, idNumber, area, latitude, longitude, address, 
    wechat_id, wechat_OpenId, phone, occurrence_time, occurrence_address, description, 
    alarm_time, status, picture_url, video_url, audio_url, case_type, case_level
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from videoalarm_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from videoalarm_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kxjl.video.pojo.VideoalarmInfo">
    insert into videoalarm_info (id, type, onlineseats_id, 
      userName, idNumber, area, 
      latitude, longitude, address, 
      wechat_id, wechat_OpenId, phone, 
      occurrence_time, occurrence_address, description, 
      alarm_time, status, picture_url, 
      video_url, audio_url, case_type, 
      case_level)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{onlineseatsId,jdbcType=INTEGER}, 
      #{username,jdbcType=VARCHAR}, #{idnumber,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{wechatId,jdbcType=VARCHAR}, #{wechatOpenid,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{occurrenceTime,jdbcType=VARCHAR}, #{occurrenceAddress,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{alarmTime,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{pictureUrl,jdbcType=VARCHAR}, 
      #{videoUrl,jdbcType=VARCHAR}, #{audioUrl,jdbcType=VARCHAR}, #{caseType,jdbcType=VARCHAR}, 
      #{caseLevel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kxjl.video.pojo.VideoalarmInfo">
    insert into videoalarm_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="onlineseatsId != null">
        onlineseats_id,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="idnumber != null">
        idNumber,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="wechatId != null">
        wechat_id,
      </if>
      <if test="wechatOpenid != null">
        wechat_OpenId,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="occurrenceTime != null">
        occurrence_time,
      </if>
      <if test="occurrenceAddress != null">
        occurrence_address,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="alarmTime != null">
        alarm_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="pictureUrl != null">
        picture_url,
      </if>
      <if test="videoUrl != null">
        video_url,
      </if>
      <if test="audioUrl != null">
        audio_url,
      </if>
      <if test="caseType != null">
        case_type,
      </if>
      <if test="caseLevel != null">
        case_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="onlineseatsId != null">
        #{onlineseatsId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="idnumber != null">
        #{idnumber,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="wechatId != null">
        #{wechatId,jdbcType=VARCHAR},
      </if>
      <if test="wechatOpenid != null">
        #{wechatOpenid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="occurrenceTime != null">
        #{occurrenceTime,jdbcType=VARCHAR},
      </if>
      <if test="occurrenceAddress != null">
        #{occurrenceAddress,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="alarmTime != null">
        #{alarmTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null">
        #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="audioUrl != null">
        #{audioUrl,jdbcType=VARCHAR},
      </if>
      <if test="caseType != null">
        #{caseType,jdbcType=VARCHAR},
      </if>
      <if test="caseLevel != null">
        #{caseLevel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kxjl.video.pojo.VideoalarmInfo">
    update videoalarm_info
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="onlineseatsId != null">
        onlineseats_id = #{onlineseatsId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="idnumber != null">
        idNumber = #{idnumber,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="wechatId != null">
        wechat_id = #{wechatId,jdbcType=VARCHAR},
      </if>
      <if test="wechatOpenid != null">
        wechat_OpenId = #{wechatOpenid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="occurrenceTime != null">
        occurrence_time = #{occurrenceTime,jdbcType=VARCHAR},
      </if>
      <if test="occurrenceAddress != null">
        occurrence_address = #{occurrenceAddress,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="alarmTime != null">
        alarm_time = #{alarmTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null">
        picture_url = #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="audioUrl != null">
        audio_url = #{audioUrl,jdbcType=VARCHAR},
      </if>
      <if test="caseType != null">
        case_type = #{caseType,jdbcType=VARCHAR},
      </if>
      <if test="caseLevel != null">
        case_level = #{caseLevel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kxjl.video.pojo.VideoalarmInfo">
    update videoalarm_info
    set type = #{type,jdbcType=INTEGER},
      onlineseats_id = #{onlineseatsId,jdbcType=INTEGER},
      userName = #{username,jdbcType=VARCHAR},
      idNumber = #{idnumber,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      wechat_id = #{wechatId,jdbcType=VARCHAR},
      wechat_OpenId = #{wechatOpenid,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      occurrence_time = #{occurrenceTime,jdbcType=VARCHAR},
      occurrence_address = #{occurrenceAddress,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      alarm_time = #{alarmTime,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      picture_url = #{pictureUrl,jdbcType=VARCHAR},
      video_url = #{videoUrl,jdbcType=VARCHAR},
      audio_url = #{audioUrl,jdbcType=VARCHAR},
      case_type = #{caseType,jdbcType=VARCHAR},
      case_level = #{caseLevel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  


<select id="selectList"
	resultMap="BaseResultMap"
	parameterType="com.kxjl.video.pojo.VideoalarmInfo">
	select
	<include refid="Base_Column_List" />
	from videoalarm_info c

	where 1=1
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
	
		
		<if test=" type !=null and type !='' ">
		and c.type like concat ('%', #{type},'%')
	</if>
		
			
		
		<if test=" onlineseatsId !=null and onlineseatsId !='' ">
		and c.onlineseats_id like concat ('%', #{onlineseatsId},'%')
	</if>
		
			


</select>


<select id="selectPage"
	resultMap="BaseResultMap"
	parameterType="com.kxjl.video.pojo.VideoalarmInfo">
	select
	<include refid="Base_Column_List" />
	from videoalarm_info c

	where 1=1
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
	
		
		<if test=" type !=null and type !='' ">
		and c.type like concat ('%', #{type},'%')
	</if>
		
			
		
		<if test=" onlineseatsId !=null and onlineseatsId !='' ">
		and c.onlineseats_id like concat ('%', #{onlineseatsId},'%')
	</if>
		
			


</select>


<delete id="delete"
	parameterType="com.kxjl.video.pojo.VideoalarmInfo">
	delete from videoalarm_info

	where id = #{id,jdbcType=VARCHAR}

</delete>

</mapper>
