<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kxjl.base.dao.ManagerMapper">
    <resultMap id="BaseResultMap" type="com.kxjl.base.pojo.Manager">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="UserID" property="userid" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR"/>
        
        <result column="TOKEN" property="token" jdbcType="VARCHAR"/>
        <result column="TIME" property="time" jdbcType="VARCHAR"/>
        
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="unitId" property="unitId" jdbcType="BIGINT"/>
        
        <result column="userRole" property="userRole" jdbcType="VARCHAR"/>
        <result column="DataState" jdbcType="INTEGER" property="dataState"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.kxjl.base.pojo.Manager" extends="BaseResultMap">
        <result column="HEAD_IMG" property="headImg" jdbcType="LONGVARBINARY"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID id, UserID userid, PASSWORD password, TELEPHONE telephone,  TOKEN token, TIME time,  CREATE_DATE create_date,
    nickname,icon,unitId,DataState
  </sql>
    <sql id="Blob_Column_List">
    HEAD_IMG head_img
  </sql>

    <select id="getLoginUserByToken" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from manager
        where 1=1
        and
        token = #{token，jdbcType=VARCHAR}
    </select>

    <select id="getLoginUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from manager
        where 1=1 and datastate = 1
        and (
        TELEPHONE = #{key}
        or userid =
        #{key,jdbcType=VARCHAR}
        )
    </select>

    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from manager
        where ID = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectManagerByNamePwd" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from manager
        where UserID=#{name,jdbcType=VARCHAR} and PASSWORD=#{password,jdbcType=VARCHAR}
    </select>

    <select id="selectManagerByToken" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from manager
        where token=#{token,jdbcType=VARCHAR}
    </select>

    <select id="selectManagerByPhone" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from manager
        where telephone=#{telephone,jdbcType=VARCHAR}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from manager
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.kxjl.base.pojo.Manager">
    insert into manager (ID, UserID, PASSWORD, 
      TELEPHONE, TOKEN, 
      TIME, VERIFY_KEY, CREATE_DATE, 
      CREATER, HEAD_IMG,nickname)
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR},  #{token,jdbcType=VARCHAR},
       #{time,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{headImg,jdbcType=LONGVARBINARY},#{nickname})
  </insert>
    <insert id="insertSelective" parameterType="com.kxjl.base.pojo.Manager">
        insert into manager
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="userid != null">
                UserID,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="password != null">
                PASSWORD,
            </if>
            <if test="telephone != null">
                TELEPHONE,
            </if>
          
            <if test="token != null">
                TOKEN,
            </if>
            
            <if test="time != null">
                TIME,
            </if>
          
            <if test="createDate != null">
                CREATE_DATE,
            </if>
          
            <if test="headImg != null">
                HEAD_IMG,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="unitId != null and unitId != ''">
                unitId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>

            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
           
            <if test="token != null">
                #{token,jdbcType=VARCHAR},
            </if>
           
            <if test="time != null">
                #{time,jdbcType=VARCHAR},
            </if>
          
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            
            <if test="headImg != null">
                #{headImg,jdbcType=LONGVARBINARY},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="unitId != null and unitId != ''">
                #{unitId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.kxjl.base.pojo.Manager">
        update manager
        <set>
            <if test="userid != null and userid != ''">
                UserID = #{userid,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>

            <if test="password != null and password != ''">
                PASSWORD = #{password,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null and telephone != ''">
                TELEPHONE = #{telephone,jdbcType=VARCHAR},
            </if>
           
            <if test="token != null and token != ''">
                TOKEN = #{token,jdbcType=VARCHAR},
            </if>
            
            <if test="time != null and time != ''">
                TIME = #{time,jdbcType=VARCHAR},
            </if>
            
            <if test="createDate != null and createDate != ''">
                CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
            </if>
            
            <if test="headImg != null and headImg != ''">
                HEAD_IMG = #{headImg,jdbcType=LONGVARBINARY},
            </if>
            <if test="icon != null and icon != ''">
                icon = #{icon,jdbcType=VARCHAR},
            </if>

            <if test="unitId != null and unitId != null">
                unitId = #{unitId,jdbcType=INTEGER},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kxjl.base.pojo.Manager">
    update manager
    set UserID = #{userid,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
  
      TOKEN = #{token,jdbcType=VARCHAR},
      
      TIME = #{time,jdbcType=VARCHAR},
  
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
   
      HEAD_IMG = #{headImg,jdbcType=LONGVARBINARY}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.kxjl.base.pojo.Manager">
    update manager
    set UserID = #{userid,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
   
      TOKEN = #{token,jdbcType=VARCHAR},
      
      TIME = #{time,jdbcType=VARCHAR},
   
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
   
    where ID = #{id,jdbcType=VARCHAR}
  </update>


    <select id="selectManagerByManager" resultMap="ResultMapWithBLOBs" parameterType="com.kxjl.base.pojo.Manager">
        select group_concat( r.name,'') userRole, nickname,
        t1.ID id, UserID userid, PASSWORD password, TELEPHONE telephone,
        TOKEN token, TIME time,  CREATE_DATE create_date,
        HEAD_IMG head_img,icon,unitId
        from manager t1
        left join sys_user_role ur on t1.ID=ur.sys_user_id
        left join sys_role r on r.id=ur.sys_role_id
        where 1=1
        
      
         <if test=" superAdmin == null || superAdmin !='true' ">
            and r.id !='superadmin'
        </if>
        <if test="id != null">
            and ID= #{id,jdbcType=VARCHAR}
        </if>
        <if test="userid != null">
            and UserID like concat('%',#{userid},'%')
        </if>
        <if test="password != null">
            and PASSWORD = #{password,jdbcType=VARCHAR}
        </if>
        <if test="telephone != null">
            and TELEPHONE = #{telephone,jdbcType=VARCHAR}
        </if>
       
        <if test="token != null">
            and TOKEN = #{token,jdbcType=VARCHAR}
        </if>
        
        <if test="time != null">
            and TIME = #{time,jdbcType=VARCHAR}
        </if>
        
        <if test="createDate != null">
            and CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
        </if>
      
        <if test="headImg != null">
            and HEAD_IMG = #{headImg,jdbcType=LONGVARBINARY}
        </if>
        group by t1.id
    </select>

    
    <!--查询系统中现有的角色为系统管理员的用户信息-->
    <select id="getAdminManagers" resultType="com.kxjl.base.pojo.Manager">
        SELECT
        <include refid="Base_Column_List"/>
        FROM manager
        WHERE id IN (
        select ur.`sys_user_id` from `sys_user_role` ur where ur.`id` in (
        SELECT id FROM sys_role WHERE 1=1 AND name ='系统管理员' AND available=1
        )
        )
    </select>


    <select id="selectManagerList" resultType="java.util.HashMap">
        select
      t1.*
        from manager t1
        where 1=1
        <if test="id != null">
            and t1.ID= #{id,jdbcType=VARCHAR}
        </if>
        <if test="userid != null">
            and UserID = #{userid,jdbcType=VARCHAR}
        </if>
        <if test="password != null">
            and PASSWORD = #{password,jdbcType=VARCHAR}
        </if>
        <if test="telephone != null  and telephone != ''">
            and TELEPHONE = #{telephone,jdbcType=VARCHAR}
        </if>
     
        <if test="token != null">
            and TOKEN = #{token,jdbcType=VARCHAR}
        </if>
        
        <if test="time != null">
            and TIME = #{time,jdbcType=VARCHAR}
        </if>
        <if test="verifyKey != null">
            and VERIFY_KEY = #{verifyKey,jdbcType=VARCHAR}
        </if>
        <if test="createDate != null">
            and CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
        </if>
       
        <if test="headImg != null">
            and HEAD_IMG = #{headImg,jdbcType=LONGVARBINARY}
        </if>
    </select>


    <select id="hasNickName" parameterType="com.kxjl.base.pojo.Manager" resultType="java.lang.Integer">
        select
        count(*)
        from manager
        where 1=1 and DataState!=2
        <if test="nickname != null and nickname !='' ">
            and NICKNAME = #{nickname}
        </if>
        <if test="id !=null and id !='' ">
            AND id!=#{id }
        </if>

    </select>


    <select id="selectManagerByMap" resultType="java.util.HashMap" parameterType="java.util.Map">

        select group_concat( r.name,'') roleName, nickname,
        t1.ID id, UserID userid, PASSWORD password, TELEPHONE telephone,
        TOKEN token, TIME time,  CREATE_DATE create_date,
       HEAD_IMG head_img,icon,t1.unitId unitId
        from manager t1
        left join sys_user_role ur on t1.ID=ur.sys_user_id
        left join sys_role r on r.id=ur.sys_role_id
        where 1=1 and DataState!=2
        <if test="id != null">
            and t1.ID= #{id,jdbcType=VARCHAR}
        </if>
        <if test="userid != null">
            and UserID = #{userid,jdbcType=VARCHAR}
        </if>
        <if test="password != null">
            and PASSWORD = #{password,jdbcType=VARCHAR}
        </if>
        <if test="telephone != null  and telephone != ''">
            and TELEPHONE = #{telephone,jdbcType=VARCHAR}
        </if>
        
        <if test="token != null">
            and TOKEN = #{token,jdbcType=VARCHAR}
        </if>
        
        <if test="time != null">
            and TIME = #{time,jdbcType=VARCHAR}
        </if>
      
        <if test="createDate != null">
            and CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
        </if>
       
        <if test="headImg != null">
            and HEAD_IMG = #{headImg,jdbcType=LONGVARBINARY}
        </if>

        group by t1.id
    </select>


    <update id="deleteLockCompanyByPrimaryKey"
            parameterType="com.kxjl.base.pojo.Manager">
        UPDATE manager
        SET DataState = 2

        WHERE id = #{id,jdbcType=VARCHAR};

    </update>

    <update id="dropLockCompanyByPrimaryKey"
            parameterType="com.kxjl.base.pojo.Manager">
        UPDATE manager
        SET DataState = 0

        WHERE id = #{id,jdbcType=VARCHAR};

    </update>

    <update id="resetLockCompanyByPrimaryKey"
            parameterType="com.kxjl.base.pojo.Manager">
        UPDATE manager
        SET DataState = 1

        WHERE id = #{id,jdbcType=VARCHAR};

    </update>


</mapper>